## Assignment 5: Data Science Revision
### Stefan Dimitrov Velev, 0MI3400521, Big Data Technologies
### Faculty of Mathematics and Informatics, Sofia University

### Task 1: In this question you will work with data sets from *Our World In Data* and Python to produce thoughtful analyses and interesting visualisations

#### 1. Import required Python packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### 2. Read the CSV files:

**Self-reported life satisfaction**

*Data sources: World Happiness Report (2012-2024); Wellbeing Research Centre (2024); Population based on various sources (2023)*

https://ourworldindata.org/grapher/happiness-cantril-ladder?time=latest

In [2]:
df_life_satisfaction = pd.read_csv('./data/happiness-cantril-ladder.csv')

In [3]:
df_life_satisfaction.head()

        Entity Code  Year  Cantril ladder score
0  Afghanistan  AFG  2011               4.25835
1  Afghanistan  AFG  2014               3.57500
2  Afghanistan  AFG  2015               3.36000
3  Afghanistan  AFG  2016               3.79400
4  Afghanistan  AFG  2017               3.63150

In [4]:
print("The number of rows in the life satisfaction data frame is:", len(df_life_satisfaction))

The number of rows in the life satisfaction data frame is: 1787

**Share in extreme poverty vs. life expectancy**

*Data sources: UN, World Population Prospects (2024); World Bank Poverty and Inequality Platform (2024); HYDE (2023); Gapminder - Population v7 (2022); Gapminder - Systema Globalis (2022)*

https://ourworldindata.org/grapher/extreme-poverty-headcount-ratio-vs-life-expectancy-at-birth

In [5]:
df_extreme_poverty_life_expectancy = pd.read_csv('./data/extreme-poverty-headcount-ratio-vs-life-expectancy-at-birth.csv')

In [6]:
df_extreme_poverty_life_expectancy.head()

,Entity,Code,Year,Life expectancy - Sex: all - Age: 0 - Variant: estimates,$2.15 a day - Share of population in poverty,990305-annotations,Population (historical),World regions according to OWID
0,Afghanistan,AFG,1950,28.156,NaN,NaN,7776182.0,NaN
1,Afghanistan,AFG,1951,28.584,NaN,NaN,7879343.0,NaN
2,Afghanistan,AFG,1952,29.014,NaN,NaN,7987783.0,NaN
3,Afghanistan,AFG,1953,29.452,NaN,NaN,8096703.0,NaN
4,Afghanistan,AFG,1954,29.698,NaN,NaN,8207953.0,NaN

In [7]:
print("The number of rows in the extreme poverty vs. life expectancy data frame is:", len(df_extreme_poverty_life_expectancy))

The number of rows in the extreme poverty vs. life expectancy data frame is: 60100

**Political corruption index**

*Data source: V-Dem (2024)*

https://ourworldindata.org/grapher/political-corruption-index

In [8]:
df_political_corruption = pd.read_csv('./data/political-corruption-index.csv')

In [9]:
df_political_corruption.head()

,Entity,Code,Year,"Political corruption index (best estimate, aggregate: average)"
0,Afghanistan,AFG,1789,0.438
1,Afghanistan,AFG,1790,0.438
2,Afghanistan,AFG,1791,0.438
3,Afghanistan,AFG,1792,0.438
4,Afghanistan,AFG,1793,0.438

In [10]:
print("The number of rows in the political corruption data frame is:", len(df_political_corruption))

The number of rows in the political corruption data frame is: 33090

#### 3. Data  Cleaning: